body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

.container {
  height: 100vh;
  min-height: 730px;
}

.split-pane {
  width: 100%;
  height: 100%;
  position: absolute;
}

.split-pane__left {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
}

.split-pane__right {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
}

.background--blue {
  background-color: #00B0FF;
  height: 100%;
}

.background--red {
  background-color: #f7484e;
  height: 100%;
}

.background--green {
  background-color: green;
  height: 100%;
}

.section-title {
  z-index: 2;
  color: rgba(0,0,0,0.54);
  font-weight: 100;
  font-size: 24px;
  margin: 0;
  position: absolute;
  top: 5%;
  text-align: center;
  width: 100%;
}
